<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>链接</title>
</head>
<body>
	<input type = "hidden" id = "web_root" name = "web_root" value = "${rc.contextPath}"/>
    <h1>链接</h1>
	<p>$!{id}</p>
</body>
<script type="text/javascript" src="${rc.contextPath}/js/jquery-3.1.1.min.js" ></script>
</html>